<header>
    <div class="logo">
        <a href='@Url.Action("Index","Home")'><img src="/imagenes/afa.png" alt=""></a>
        <a href='@Url.Action("Index","Home")'><h1>Scape Room Futbol</h1></a>
        
    </div>
    
    <nav>
        <ul>
            <li><a href='@Url.Action("Comenzar","Home")'>Jugar!</a></li>
            <li><a href='@Url.Action("Tutorial","Home")'>Tutorial</a></li>
            <li><a href='@Url.Action("Creditos","Home")'>Créditos</a></li>
        </ul>
    </nav>  
</header>